<section id="nav-bar">
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img src="assets/image/head.png" class="a"></a>
      <h6 class="b">FIND YOUR WALLPAPER</h6>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#a">
     <span class="navbar-toggler-icon"></span>
   </button>
     <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ml-auto">
 <li class="nav-item ">
    <a class="nav-link" href="#"><span style="color: black">ABOUT US</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span style="color: black">WARRANTY</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span style="color: black">HOW ITS WORKS</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span style="color: black">MYTH</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span style="color: black">CONTACT</span></a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#"><span style="color: black">FAQ</span></a>
  </li>
         <!-- <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span style="color: black">FAQ</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li> -->

</ul>
</div>
</nav>
</div>
</section>