<section>
  <div class="container-fluid">
    <div class="row a">
    <div class="col-md-6">
       <ul class="nav b">
     <li class="nav-item ">
        <a class="nav-link" href="#"><span style="color: black">About us</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span style="color: black">Myth</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span style="color: black">Contact Us</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#"><span style="color: black">Privacy Policy</span></a>
      </li>
     </ul>
</div>
 <div class="col-md-6">
     <ul class="nav justify-content-end">
      <li class="nav-item">
    <h4 class="c">© 2020, Stenna. All rights Reserved.</h4>
  </li>
      
     </ul>
   </div>
    </div>
  </div>
</section>
