<app-header></app-header>
<section>
		

    <div class="container-fluid">
        
        <div class="row"style="background-image: url(assets/image/w1.jpg);">
       
        <div class="col-md-6">
            
                <img  [src]="collection.Bannerimagepath" alt="First slide" class="img-fluid bb"  data-interval="50" >
        </div>
        <div class="col-md-6">
            
                <h2 class="tt">{{collection.Name}}</h2>
                <h2 class="ts">{{collection.Description}}</h2>
   
        </div>
        </div>
    
    </div>
</section>
<app-footer></app-footer>