<section id="nav-bar">
    <div class="carousel slide" data-ride="carousel" id="myslide">
        <img src="assets/image/t1.png" class="a1">
        
        <div class="carousel-inner">
           
          <div class="carousel-item active">
            <img  src="assets/image/s3.jpg" class="img-fluid"  data-interval="20000" alt="Second slide" width="100%" height="200px">
            <div class="carousel-caption d-none d-md-block" style="top: 80%;
            transform: translateY(-80%);
            width: 50%;
            left: 100px;">
              <div class="caption-3" >
                <div class="first-row-1 c">
                1200 DESIGNS<br>8-HOUR APPLICATION TIME<br>3 YEAR PEEL-OFF WARRANTY</div>
              </div>
            </div>
          </div>

            <div class="carousel-item"> 
          <img  src="assets/image/s1.jpg" alt="First slide" class="img-fluid" width="100%" height="200px">
          <div class="carousel-caption d-none d-md-block" style="top: 55%;
          left: auto;
          transform: translateY(-70%);
          right: 60px;">
            <div class="first-row-1 e">GIVE YOUR HOME AN<br>IDENTITY WITH STENNA.</div>
            <div class="second-row-1 f">Bringing you end-to-end wallpaper solutions<br>for the first time in India.</div>
        </div>
       </div>

       <div class="carousel-item carousel-fade">
          <img  src="assets/image/s2.jpg" class="img-fluid"  data-interval="40000" alt="Second slide" width="100%" height="200px">
          <div class="carousel-caption d-none d-md-block" style="top: 55%;
          left:5%;
          transform: translateY(-55%);
          width: 55%;">
            <div class="first-row-1 h">STENNA TAKES CARE OF EVERY<br>ASPECT OF THE PROCESS.</div>
            <div class="second-row-1 k">From high-end packaging, to a qualified crew of installation experts.</div>
          </div>
          
        </div>

        
        
        
        <a class="j">Scroll to Discover</a>
        </div><!--inner-->
        
        <ul class="carousel-indicators" style="bottom: 60px;">
         <li data-target="#myslide" data-slide-to="0" class="active"></li>
         <li data-target="#myslide" data-slide-to="1" class=""></li>
         <li data-target="#myslide" data-slide-to="2" class=""></li>
         
      </ul> 
      
     
      
      
    
    </div>
    <!--slider image tk completed-->
    </section>
