<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

    <app-topslider></app-topslider>
    <app-header></app-header>

<section>
    <div class="container-fluid">
       
    

    <div class="carousel-inner">
      <div class="item active">
        <img src="assets/image/time1.jpg"  class="img-responsive aa">
        <div class="carousel-caption">
          <p class="ab">
            <span>It’s Time For Wallpapers.</span>
        </p>
        <h5 class="bc" >
    A great wallpaper doesn’t just decorate your home –<br> it transforms it. Yet, many in India are yet to <br>
    experience it’s full beauty. Stenna is the first to bring<br> the wonders of wallpaper to India’s doorstep. And
    <br> we take great care to ensure that our customers get <br>the very best that wallpaper has to offer – by using
    <br> high-quality, branded adhesives, fully eco-sensitive<br> materials, and providing trained and certified
    <br> installation experts.
</h5>
        </div>
      </div>
      </div>
    </div>
</section>

<section>
    <br><br><br>
<h1 class="cd">Design Collections</h1>
<br><br>
<div class="container-fluid">
  
    <div class="row">
      
      <div class="col-md-4">
        <img src="assets/image/r1.jpg" class="rounded mx-auto d-block de" >
        <div class="im">ABSTRACT</div>
      </div>
      <div class="col-md-4">
        <img src="assets/image/r2.jpg" class="rounded mx-auto d-block de">
        <div class="im">CLASSIC</div>
      </div>
      <div class="col-md-4">
        <img src="assets/image/r3.jpg" class="rounded mx-auto d-block de">
        <div class="im">KIDS</div>
      </div>
    
      </div>
      <div class="row">
      
        <div class="col-md-4">
          <img src="assets/image/r4.jpg" class="rounded mx-auto d-block de">
          <div class="im">MODERN</div>
        </div>
        <div class="col-md-4">
          <img src="assets/image/r5.jpg" class="rounded mx-auto d-block de">
          <div class="im">NATURE-STONE</div>
        </div>
        <div class="col-md-4">
          <img src="assets/image/r6.jpg" class="rounded mx-auto d-block de">
          <div class="im">PLAIN-TEXTURED</div>
        </div>
      
        </div>
  </div>


    


</section>
<br><br><br><br>
<section>
  <div class="container-fluid pic">
    <div class="row ef">
      <div class="col-md-6 fg">
        <h2 class="w3-content gh">Why Wallpapers?</h2>
<br>
        <div class="row">
<div class="col-md-4">
<div class="card bor" >
<!-- <i class="fa fa-heartbeat" aria-hidden="true"></i> -->
 <img src="assets/image/heart.jpg" class="hi">
<div class="card-body">
  <p class="card-text jk">LIFE LONG</p>
  <div class="overlay">
    <div class="text">LIFE LONG</div>
  </div>
</div>
</div>
</div>
 <div class="col-md-4">
<div class="card bor">
  <img src="assets/image/washable.jpg" class="ij">
<div class="card-body">
  <p class="card-text jk">WASHABLE</p>
  <div class="overlay">
    <div class="text">WASHABLE</div>
  </div>

</div>
  </div>
</div>

</div>
<br>
<div class="row">
<div class="col-md-4">
<div class="card bor">
  <img src="assets/image/fire.png" class="ij">
<div class="card-body">
  <p class="card-text jk">FIRE-RISTANT</p>
  <div class="overlay">
    <div class="text">FIRE-RISTANT</div>
  </div>
</div>
  </div>
</div>

 <div class="col-md-4">
<div class="card round bor">
  <img src="assets/image/hy.jpg" class="ij">
<div class="card-body">
  <p class="card-text jk">HYGIENIC</p>
  <div class="overlay">
    <div class="text">HYGIENIC</div>
  </div>
</div>
  </div>
</div>

</div>
<br>
<div class="row">
<div class="col-md-4">
<div class="card round bor">
  <img src="assets/image/eco.jpg" class="ij">
<div class="card-body">
  <p class="card-text jk">ECO-FRIENDLY</p>
  <div class="overlay">
    <div class="text">ECO-FRIENDLY</div>
  </div>
</div>
  </div>
</div>

 <div class="col-md-4 ">
<div class="card round bor" >
  <img src="assets/image/saf.jpg" class="ij">
<div class="card-body">
  <p class="card-text jk">SAFETY</p>
  <div class="overlay">
    <div class="text">SAFETY</div>
  </div>
</div>
  </div>
</div>

</div>
</div>

 <div class="col-md-6">
  
          <h3 class="lm">Long Life</h3>

    <p> All Stenna wallpapers are made using PVC, giving the material high<br> durability, and an eternal freshness. If maintained as per our guidelines, our<br> wallpapers will keep your home looking new, inviting and unique – forever.</p>
    <br><br>
        </div>

</div>
</div>


</section>
<section>
  <br>
  
<br>
  <h2 class="a">Busting Common Myths</h2>
<br><br>
  
    <div class="container-fluid">
      <div class="row">
        
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel slide" data-ride="carousel" id="slide">
          <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="card n" style="border: 30px solid #F8EEE1">
          <div class="card-body tu ">
          <h2 class="card-text tt ">MYTH 01</h2>
          <p class="card-text ts">Wallpapers peel off easily</p>
           <br>
           </div>
           <div class="sor">
           <img  src="assets/image/mt1.jpg" alt="First slide" class="img-fluid i"  data-interval="50" >
           <div class="overla">
            <div class="text">
              <button type="button" class="btu">Learn More</button>
            </div>
          </div>
           </div>
        </div>
          
          <div class="card n" style="border: 30px solid #e4f3f1;">
          <div class="card-body tu">
          <h2 class="card-text tt">MYTH 02</h2>
          <p class="card-text ts">Wallpapers gather dust easily</p>
           <br>
           </div>
           <div class="sor">
            <img  src="assets/image/mt2.jpg" alt="First slide" class="img-fluid i"  data-interval="20" >
            <div class="overla">
             <div class="text">
               <button type="button" style="background-color: #7ACDC8;">Learn More</button>
             </div>
           </div>
            </div>
           </div>
    
           <div class="card n" style="border: 30px solid #F8EEE1;">
          <div class="card-body tu">
          <h2 class="card-text tt">MYTH 03</h2>
          <p class="card-text ts">Wallpapers are not washable</p>
           <br>
           </div>
           <div class="sor">
            <img  src="assets/image/mt3.jpg" alt="First slide" class="img-fluid i"  data-interval="50" >
            <div class="overla">
             <div class="text">
               <button type="button" style="background-color: #7ACDC8;">Learn More</button>
             </div>
           </div>
            </div>
           </div>
         </div>
  
         <div class="carousel-item carousel-fade ">
          <div class="card n" style="width: 27rem;border: 30px solid #e4f3f1;float: left">
            <div class="card-body tu">
            <h2 class="card-text tt">MYTH 04</h2>
            <p class="card-text ts">Wallpapers peel off easily</p>
             <br>
             </div>
             <div class="sor">
              <img  src="assets/image/mt4.jpg" alt="First slide" class="img-fluid i"  data-interval="50" >
              <div class="overla">
               <div class="text">
                 <button type="button" style="background-color: #7ACDC8;">Learn More</button>
               </div>
             </div>
              </div>
             </div>
            
            <div class="card n" style="border: 30px solid #F8EEE1;">
            <div class="card-body tu">
            <h2 class="card-text tt">MYTH 05</h2>
            <p class="card-text ts">Wallpapers gather dust easily</p>
             <br>
             </div>
             <div class="sor">
              <img  src="assets/image/mt5.jpg" alt="First slide" class="img-fluid i"  data-interval="50" >
              <div class="overla">
               <div class="text">
                 <button type="button" style="background-color: #7ACDC8;">Learn More</button>
               </div>
             </div>
              </div>
             </div>
      
             <div class="card n" style="width: 27rem;border: 30px solid #e4f3f1;float: left">
            <div class="card-body tu">
            <h2 class="card-text tt">MYTH 06</h2>
            <p class="card-text ts">Wallpapers are not washable</p>
             <br>
             </div>
             <div class="sor">
              <img  src="assets/image/mt6.png" alt="First slide" class="img-fluid i"  data-interval="50" >
              <div class="overla">
               <div class="text">
                 <button type="button" style="background-color: #7ACDC8;">Learn More</button>
               </div>
             </div>
              </div>
             </div>
        
        
         </div>
  
         <div class="carousel-item ">
         
      <div class="card n" style="width: 27rem;border: 30px solid #F8EEE1;float: left">
        <div class="card-body tu">
        <h2 class="card-text tt">MYTH 07</h2>
        <p class="card-text ts">Wallpapers are a fire hazard damage</p>
         <br>
         </div>
         <div class="sor">
          <img  src="assets/image/mt7.jpg" alt="First slide" class="img-fluid i"  data-interval="50" >
          <div class="overla">
           <div class="text">
             <button type="button" style="background-color: #7ACDC8;">Learn More</button>
           </div>
         </div>
          </div>
         </div>
        
        <div class="card n" style="width: 27rem;border: 30px solid #e4f3f1;float: left">
        <div class="card-body tu">
        <h2 class="card-text tt">MYTH 08</h2>
        <p class="card-text ts">Wallpapers react easily to moisture/humidity</p>
         <br>
         </div>
         <div class="sor">
          <img  src="assets/image/mt8.jpg" alt="First slide" class="img-fluid i"  data-interval="50" >
          <div class="overla">
           <div class="text">
             <button type="button" style="background-color: #7ACDC8;">Learn More</button>
           </div>
         </div>
          </div>
         </div>
  
         <div class="card n" style="width: 27rem;border: 30px solid #F8EEE1;float: left">
        <div class="card-body tu">
        <h2 class="card-text tt">MYTH 09</h2>
        <p class="card-text ts">Wallpapers promote the heating of a room</p>
         <br>
         </div>
         <div class="sor">
          <img  src="assets/image/mt9.jpg" alt="First slide" class="img-fluid i"  data-interval="50" >
          <div class="overla">
           <div class="text">
             <button type="button" style="background-color: #7ACDC8;">Learn More</button>
           </div>
         </div>
          </div>
         </div>
  
      
  
         </div>
  
         <div class="carousel-item carousel-fade ">
          <div class="card n" style="border: 30px solid #e4f3f1;">
            <div class="card-body tu">
            <h2 class="card-text tt">MYTH 08</h2>
            <p class="card-text ts">Wallpapers react easily to moisture/humidity</p>
             <br>
             </div>
             <div class="sor">
              <img  src="assets/image/mt1.jpg" alt="First slide" class="img-fluid i"  data-interval="50" >
              <div class="overla">
               <div class="text">
                 <button type="button" style="background-color: #7ACDC8;">Learn More</button>
               </div>
             </div>
              </div>
             </div>
      
             <div class="card n" style="border: 30px solid #F8EEE1">
            <div class="card-body tu">
            <h2 class="card-text tt">MYTH 09</h2>
            <p class="card-text ts">Wallpapers promote the heating of a room</p>
             <br>
             </div>
             <div class="sor">
              <img  src="assets/image/mt9.jpg" alt="First slide" class="img-fluid i"  data-interval="50" >
              <div class="overla">
               <div class="text">
                 <button type="button" class="btu">Learn More</button>
               </div>
             </div>
              </div>
             </div>
      
          
      
            <div class="card n" style="border: 30px solid #e4f3f1;">
              <div class="card-body tu">
            <h2 class="card-text tt">MYTH 10</h2>
            <p class="card-text ts">Wallpapers peel off easily in the wall</p>
             <br>
             </div>
             <div class="sor">
              <img  src="assets/image/mt10.jpg" alt="First slide" class="img-fluid i"  data-interval="50" >
              <div class="overla">
               <div class="text">
                 <button type="button" style="background-color: #7ACDC8;"><a href="#" >Learn More</a></button>
               </div>
             </div>
              </div>
             </div>

             
            
         </div>
           </div>
           
           
            
           <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span aria-hidden="true" style="background-color: #7ACDC8;width: 23%;height: 18%;margin-left: -77%;"><img src="assets/image/left.png" style="width: 60%;margin-top: 45%;"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span aria-hidden="true" style="background-color: #7ACDC8;width: 23%;height: 18%;margin-right: -117%;"><img src="assets/image/right.png" style="width: 60%;margin-top: 45%;"></span>
            <span class="sr-only">Next</span>
            </a>
          </div>
            
      
      
</div>
   
    </div>
  </div>
  </section>

<app-blog></app-blog>


<br><br>
<app-footer></app-footer>